<body>
    <section>
        <article class="post">
            <h2>Siembra</h2>
            <div class="img-container"> <!-- Block parent element -->
                <img src="./assets/images/siembra.jpeg" width="800" height="600" />
              </div>

            <p>A continuación se presentan algunos pasos generales para el cultivo de maíz enfocados en el municipio y departamento de Totonicapán:</p>
            <h4>Selección del terreno:</h4>
            <p>Elegir un terreno adecuado para el cultivo de maíz es fundamental y estar libre de piedras y maleza.</p>
            <h4>Preparación del suelo:</h4>
            <p>El suelo debe ser preparado antes de la siembra. Esto implica "picar" el terreno para aflojar el suelo, eliminar las malezas y en algunos casos agregar fertilizante natural para enriquecer el suelo.</p>
            <h4>Siembra:</h4>
            <p>La siembra se realiza cuando el suelo está húmedo, generalmente al comienzo de la temporada de lluvias. El maíz se puede sembrar directamente en el suelo en un agujero echo con el azadon </p>
            <h4>Cuidado y mantenimiento:</h4>
            <p>Una vez sembrado, el maíz necesita ser cuidado y mantenido, eliminar las malezas y controlar las plagas y enfermedades.</p>
            <h4>Abono:</h4>
            <p>Una vez  el maíz sigue creciendo llega el momento de abornalo con fertilizante natural o algun abono quimico </p>
            <h4>Calzar:</h4>
            <p>En esta region es comun realizar el calzado, se realiza despues de abonar la planta de maiz y consiste en crear un volcan de tierra al rededor de su base</p>
            <h4>Cosecha:</h4>
            <p>La cosecha del maíz se realiza cuando las mazorcas están maduras y secas. Las mazorcas se cortan del tallo y se pueden dejar secar al sol antes de retirar los granos de maíz </p>
            <h4>Desgranar:</h4>
            <p>Al estar seca la mazorca se procede a desgranarla, existen varias formas como meter el maiz a un saco y pegarle , desgranazarlo manualmente y actualmente es comun utilizar maquinas</p>
            <h4>Almacenamiento:</h4>
            <p>Los granos de maíz deben ser almacenados en un lugar fresco y seco para evitar la humedad y la presencia de insectos.</p>       
        </article>
    </section>
 </body>
 